.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

section {
  width: 100%;
  max-width: 960px;
  float: left;
  margin-right: 5%;
}

aside {
  float: right;
  width: 40vh;
  padding-top: 10em;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  background-color: rgb(164, 202, 202);
}

.card-body{
  background-color: #3466AF;
  color: #FFCB05
}

.card {
  margin: 0.5em
}

.card-text {
  margin: auto;
}

.load-more {
  display: inline;
  width: 30%;
  margin: 2em;
}


